{% extends "company/base.html" %}
{% load static %}
{% block headerTitle %}Gelen Mesajlar{% endblock headerTitle %}

{% block pageTitle %}Gelen Mesajlar{% endblock pageTitle %}

{% block pageHeader %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock pageHeader %}
{% block content %}
 <table id="mesage_table" class="table table-striped" style="width:100%">
         <thead>
             <tr>
                 <th>Feedback</th>
                 <th>Gönderen Kişi</th>
                 <th>Gönderim Tarihi</th>
             </tr>
         </thead>
         <tbody>
               {% for feedbacks in feedback %}
                   <tr>
                     <td><a class="btn btn-warning" href="/sirket/mesajlar/{{feedbacks.id}}">  {{feedbacks.feedback_title}}</a> </td>
                     <td>{{feedbacks.feedback_owner}} </td>
                     <td>{{feedbacks.created_at}}</td>
                  </tr>
                {%endfor%}
         </tbody>
     </table>
{% endblock content %}

{% block pageJs %}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#mesage_table').DataTable();
} );
</script>
{% endblock pageJs %}
