{% extends "rider/base.html" %}
{% load static %}
{% block content %}
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Etkinlik Adı</th>
        </tr>
    </thead>
    <tbody>

        {% for events in event %}
        <tr>
            <th scope="row">{{events.id}}</th>
            <td><a href="{{events.id}}" class="btn btn-warning">{{events.name}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}