Django==2.0.9
django-crispy-forms==1.7.2
django-extensions==2.1.3
django-filter
django-ckeditor
djangorestframework==3.9.0
django-rest-auth
pillow


Projeyi Yapanlar:

Proje Adı: Bisiklet Arkadaşı Bulma App.
Uygulama Adı: FindBikeFriends ve Ride Explore

Can Okay
Bilgisayar Programcılığı (İÖ)
2016730035

Görev: Django Backend Kodlamak
Dosya: FindBikeFriends-django-master

FindBikeFriends-django-master Django Projesinin Çalıştırılması için Gerekli Notlar:

1. Python3 kurun.
2. python3-pip kurun.
3. FindBikeFriends-django dosya dizininde terminal ekranı açın ve aşağıdaki kodu terminal ekranına girin.

	pip install -r requirements.txt 
4. Kurulum bittikten sonra terminal ekranında
	Windows:
		python manage.py runserver
	Ubuntu
		python3 manage.py runserver
yazıp Browserdan localhost:8000 portuna gidin.

Urller:
	    localhost:8000/ :FindBikeFriends_web Normal Website URLleri
	    localhost:8000/admin/: Django Admin paneli
    	localhost:8000/bisikletli/ :Bisikletli Panel Urlleri
        localhost:8000/reklamveren/: Reklamveren Panel Urlleri
        localhost:8000/api/: Api Urlleri

Rıdvan Altun
Bilgisayar Programcılığı (İÖ)
2017730003

Görev: React Native Mobil Kodlamak
Dosya: ride-explore-master
