{% extends "advertisement/base.html" %}
{% load static %}
{% block headerTitle %}Şirket Paneli{% endblock headerTitle %}

{% block pageTitle %}Şirket Paneli{% endblock pageTitle %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-lg-6 col-xl-3 padding-zero">
        <div class="base-box box">
            <div class="container padding-zero">
                <h4>Toplam Reklam</h4>
                <div class="text-right">
                    <h2 style="color:#e84118">{{advertisement_count}}</h2>
                </div>
            </div>
            <div class="line" style="height:5px; width:100%; background-color: #e84118;"></div>
        </div>
    </div>
</div>

{% endblock content %}
