{% extends "company/base.html" %}
{% load static %}
{% block headerTitle %}Ürün Listesi{% endblock headerTitle %}

{% block pageTitle %}Ürün Listesi{% endblock pageTitle %}

{% block pageHeader %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
{% endblock pageHeader %}
{% block content %}
 <table id="product_table" class="table table-striped" style="width:100%">
         <thead>
             <tr>
                 <th>Ürün Adı</th>
                 <th>Ürün Kategorisi</th>
                 <th>Ücret</th>
             </tr>
         </thead>
         <tbody>
               {% for products in product %}
                   <tr>
                     <td>{{products.product_name}} </td>
                     <td>{{products.product_status}} </td>
                     <td>{{products.price}}</td>
                  </tr>
                {%endfor%}
         </tbody>
     </table>
{% endblock content %}

{% block pageJs %}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#product_table').DataTable();
} );
</script>
{% endblock pageJs %}
