{% extends "advertisement/base.html" %}
{% load static %}
{% block headerTitle %}Reklamlar{% endblock headerTitle %}

{% block pageTitle %}Reklamlar{% endblock pageTitle %}

{% block content %}
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Reklam</th>
            <th scope="col">Başlangıç Tarihi</th>
            <th scope="col">Bitiş Tarihi</th>
            <th scope="col">Durumu</th>
            <th scope="col">Fiyat</th>
        </tr>
    </thead>
    <tbody>

        {% for advertisements in advertisement %}
        <tr>
            <th scope="row">{{advertisements.id}}</th>
            <td><a href="reklamveren/reklamlar/{{advertisements.id}}" class="btn btn-warning">{{advertisements.name}}</a></td>
            <td>{{advertisements.start_date}}</td>
            <td>{{advertisements.end_date}}</td>
            <td>
                {% if advertisements.is_active == True %}
                    Yayında
                {% else %}
                    İncelemede
                {% endif %}
            </td>
            <td>{{advertisements.price}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock content %}
