{% extends "advertisement/base.html" %}
{% load static %}
{% block headerTitle %} {{advertisement.name}} - Reklamlar {% endblock headerTitle %}

{% block pageTitle %} {{advertisement.name}} - Reklamlar {% endblock pageTitle %}

{% block content %}

<div class="col-md-12 col-lg-12 padding-zero">

Reklam Adı: {{advertisement.name}} <br>
<hr>
Reklam Oluşturma Tarihi: {{advertisement.created}}
<hr>
Reklam Açıklaması: {{advertisement.description}}
<hr>
Reklam Başlangıç Tarihi: {{advertisement.start_date}} <br>

Reklam Bitiş Tarihi: {{advertisement.end_date}}
<hr>
Reklam Ücreti: {{advertisement.price}}
<hr>
Reklam Resimi: <img src ="http://localhost:8000{{advertisement.thumbnail.url}}">
</div>
{% endblock content %}
