{% extends "advertisement/base.html" %}
{% load static %}
{% block headerTitle %} {{advertisement.name}} - Reklamlar {% endblock headerTitle %}

{% block pageTitle %} {{advertisement.name}} - Reklamlar {% endblock pageTitle %}

{% block content %}

{{advertisement.id}}
<hr>
{{advertisement.name}}
<hr>
{{advertisement.created}}
<hr>
{{advertisement.id}}
<hr>
{{advertisement.description}}
<hr>
{{advertisement.start_date}} <br>

{{advertisement.end_date}}
<hr>
{{advertisement.price}}
<hr>
{{advertisement.thumbnail}}
<hr>

{% endblock content %}
