{% load static %}

{% with request.resolver_match.url_name as url_name %}
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Bisikletli Paneli </h3>
        <p style="color:#ffffff">{{request.user.username}} Kullanıcısı</p>
    </div>
    <ul class="list-unstyled components">
        <li class="{% if url_name == 'dashboard' %} active{% endif %}">
            <a href="{% url 'FindBikeFriends_rider:dashboard' %}">Başlangıç</a>
        </li>
        <li>
            <a href="#meatSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Etkinlik</a>
            <ul class="collapse list-unstyled {% if url_name == 'event_new' or url_name == 'event_list' %} show{% endif %}  " id="meatSubmenu">
                <li class="{% if url_name == 'event_new' %} active{% endif %}">
                    <a href="{% url 'FindBikeFriends_rider:event_new' %}">Etkinlik Ekle</a>
                </li>
                <li class="{% if url_name == 'event_list' %} active{% endif %}">
                    <a href="{% url 'FindBikeFriends_rider:event_list' %}">Etkinlik Listele</a>
                </li>
            </ul>
        </li>
      <li>
          <a href="{% url 'FindBikeFriends_advertisement:logout' %}">Çıkış Yap</a>
      </li>
    </ul>
</nav>

{% endwith %}
