{% extends 'web/base.html' %}
{% load static %}
{% block title %} Hakkında{% endblock %}
{% block content %}
        <div class="container">
        <div class="row">
        <div class="col-md-12">
    
            <h3>Hakkında</h3>
            <p>
                Find Bike Friends veya Ride Explore Uygulaması 2018-2019 Yılı Dokuz Eylül Üniversitesi İzmir Meslek Yüksekokulu Bilgisayar Programcılığı (İÖ) Programı Can Okay ve Rıdvan Altun tarafından geliştirilmiştir.
            </p>
        </div>
        </div>
        </div>
{% endblock %}

