{% extends 'web/base.html' %}
{% load static %}
{% block title %} Feedback Website{% endblock %}
{% block content %}
<!-- **** Welcome Maps Area Start **** -->
<div class="welcome-area wow fadeInUp" data-wow-delay="200ms">
    <div class="google-maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17107.2892861271!2d-74.01626372475907!3d40.714272545051664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbd!4v1551762805743" allowfullscreen></iframe>
    </div>
</div>
<!-- **** Welcome Maps Area End **** -->


<!-- **** Sale area Start **** -->
<section class="rehome-house-sale-area section-padding-100-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="200ms">
                    <h2>Top New In <span>NewYork</span></h2>
                    <p>These are the best deals and deals. All in New York City and nearby area</p>
                </div>
            </div>

            <!-- Single Property Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-property-area wow fadeInUp" data-wow-delay="200ms">
                    <!-- Property Thumb -->
                    <div class="property-thumb">
                        <img src="{% static 'web/img/bg-img/1.jpg' %}" alt="">
                    </div>

                    <!-- Property Description -->
                    <div class="property-desc-area">
                        <!-- Property Title & Seller -->
                        <div class="property-title-seller d-flex justify-content-between">
                            <!-- Title -->
                            <div class="property-title">
                                <h4>7660 Nikolaus Burg</h4>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> GA 125, Newyork</p>
                            </div>
                            <!-- Seller -->
                            <div class="property-seller">
                                <p>Seller:</p>
                                <h6>Alex Cross</h6>
                            </div>
                        </div>
                        <!-- Property Info -->
                        <div class="property-info-area d-flex flex-wrap">
                            <p>Sqft: <span>1420 m2</span></p>
                            <p>Garage: <span>2</span></p>
                            <p>Baths: <span>05</span></p>
                            <p>Baths: <span>06</span></p>
                        </div>
                    </div>

                    <!-- Property Price -->
                    <div class="property-price">
                        <p class="badge-rent">For Rent</p>
                        <p class="price">$1,599/month</p>
                    </div>
                </div>
            </div>

            <!-- Single Property Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-property-area wow fadeInUp" data-wow-delay="200ms">
                    <!-- Property Thumb -->
                    <div class="property-thumb">
                        <img src="{% static 'web/img/bg-img/2.jpg' %}" alt="">
                    </div>
                    <!-- Property Description -->
                    <div class="property-desc-area">
                        <!-- Property Title & Seller -->
                        <div class="property-title-seller d-flex justify-content-between">
                            <!-- Title -->
                            <div class="property-title">
                                <h4>736 Hauck Alley</h4>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> GA 125, Newyork</p>
                            </div>
                            <!-- Seller -->
                            <div class="property-seller">
                                <p>Seller:</p>
                                <h6>Alex Cross</h6>
                            </div>
                        </div>
                        <!-- Property Info -->
                        <div class="property-info-area d-flex flex-wrap">
                            <p>Sqft: <span>1420 m2</span></p>
                            <p>Garage: <span>2</span></p>
                            <p>Baths: <span>05</span></p>
                            <p>Baths: <span>06</span></p>
                        </div>
                    </div>

                    <!-- Property Price -->
                    <div class="property-price">
                        <p class="badge-sale">For Rent</p>
                        <p class="price">$2,120.000</p>
                    </div>
                </div>
            </div>

            <!-- Single Property Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-property-area wow fadeInUp" data-wow-delay="200ms">
                    <!-- Property Thumb -->
                    <div class="property-thumb">
                        <img src="{% static 'web/img/bg-img/3.jpg' %}" alt="">
                    </div>

                    <!-- Property Description -->
                    <div class="property-desc-area">
                        <!-- Property Title & Seller -->
                        <div class="property-title-seller d-flex justify-content-between">
                            <!-- Title -->
                            <div class="property-title">
                                <h4>170 Center Park</h4>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> GA 125, Newyork</p>
                            </div>
                            <!-- Seller -->
                            <div class="property-seller">
                                <p>Seller:</p>
                                <h6>Alex Cross</h6>
                            </div>
                        </div>
                        <!-- Property Info -->
                        <div class="property-info-area d-flex flex-wrap">
                            <p>Sqft: <span>1420 m2</span></p>
                            <p>Garage: <span>2</span></p>
                            <p>Baths: <span>05</span></p>
                            <p>Baths: <span>06</span></p>
                        </div>
                    </div>

                    <!-- Property Price -->
                    <div class="property-price">
                        <p class="badge-rent">For Rent</p>
                        <p class="price">$1,599/month</p>
                    </div>
                </div>
            </div>

            <!-- Single Property Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-property-area wow fadeInUp" data-wow-delay="200ms">
                    <!-- Property Thumb -->
                    <div class="property-thumb">
                        <img src="{% static 'web/img/bg-img/3.jpg' %}" alt="">
                    </div>
                    <!-- Property Description -->
                    <div class="property-desc-area">
                        <!-- Property Title & Seller -->
                        <div class="property-title-seller d-flex justify-content-between">
                            <!-- Title -->
                            <div class="property-title">
                                <h4>58 Treutel Shores</h4>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> GA 125, Newyork</p>
                            </div>
                            <!-- Seller -->
                            <div class="property-seller">
                                <p>Seller:</p>
                                <h6>Alex Cross</h6>
                            </div>
                        </div>
                        <!-- Property Info -->
                        <div class="property-info-area d-flex flex-wrap">
                            <p>Sqft: <span>1420 m2</span></p>
                            <p>Garage: <span>2</span></p>
                            <p>Baths: <span>05</span></p>
                            <p>Baths: <span>06</span></p>
                        </div>
                    </div>

                    <!-- Property Price -->
                    <div class="property-price">
                        <p class="badge-sale">For Rent</p>
                        <p class="price">$2,120.000</p>
                    </div>
                </div>
            </div>

            <!-- Single Property Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-property-area wow fadeInUp" data-wow-delay="200ms">
                    <!-- Property Thumb -->
                    <div class="property-thumb">
                        <img src="{% static 'web/img/bg-img/3.jpg' %}" alt="">
                    </div>

                    <!-- Property Description -->
                    <div class="property-desc-area">
                        <!-- Property Title & Seller -->
                        <div class="property-title-seller d-flex justify-content-between">
                            <!-- Title -->
                            <div class="property-title">
                                <h4>8332 Ramiro Village</h4>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> GA 125, Newyork</p>
                            </div>
                            <!-- Seller -->
                            <div class="property-seller">
                                <p>Seller:</p>
                                <h6>Alex Cross</h6>
                            </div>
                        </div>
                        <!-- Property Info -->
                        <div class="property-info-area d-flex flex-wrap">
                            <p>Sqft: <span>1420 m2</span></p>
                            <p>Garage: <span>2</span></p>
                            <p>Baths: <span>05</span></p>
                            <p>Baths: <span>06</span></p>
                        </div>
                    </div>

                    <!-- Property Price -->
                    <div class="property-price">
                        <p class="badge-sale">For Rent</p>
                        <p class="price">$2,120.000</p>
                    </div>
                </div>
            </div>

            <!-- Single Property Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-property-area wow fadeInUp" data-wow-delay="200ms">
                    <!-- Property Thumb -->
                    <div class="property-thumb">
                        <img src="{% static 'web/img/bg-img/3.jpg' %}" alt="">
                    </div>

                    <!-- Property Description -->
                    <div class="property-desc-area">
                        <!-- Property Title & Seller -->
                        <div class="property-title-seller d-flex justify-content-between">
                            <!-- Title -->
                            <div class="property-title">
                                <h4>221 Leann Suite 473</h4>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> GA 125, Newyork</p>
                            </div>
                            <!-- Seller -->
                            <div class="property-seller">
                                <p>Seller:</p>
                                <h6>Alex Cross</h6>
                            </div>
                        </div>
                        <!-- Property Info -->
                        <div class="property-info-area d-flex flex-wrap">
                            <p>Sqft: <span>1420 m2</span></p>
                            <p>Garage: <span>2</span></p>
                            <p>Baths: <span>05</span></p>
                            <p>Baths: <span>06</span></p>
                        </div>
                    </div>

                    <!-- Property Price -->
                    <div class="property-price">
                        <p class="badge-rent">For Rent</p>
                        <p class="price">$1,599/month</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- **** Sale Area End **** -->

<!-- **** Choose Us Area Start **** -->
<section class="rehomes-choose-us-area section-padding-100-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="200ms">
                    <h2><span>Why</span> Choose Us?</h2>
                    <p>We have over 8 years of experience and knowledge on how to sell more.</p>
                </div>
            </div>

            <!-- Single choose us content -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-choose-us-content wow fadeInUp" data-wow-delay="200ms">
                    <!-- Choose us Icon -->
                    <div class="choose-us-icon">
                        <i class="icon_search"></i>
                    </div>
                    <h5>Find Your Home</h5>
                    <p>Quis ipsum suspendisse ultrices, risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                </div>
            </div>

            <!-- Single choose us content -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-choose-us-content wow fadeInUp" data-wow-delay="200ms">
                    <!-- Choose us Icon -->
                    <div class="choose-us-icon">
                        <i class="icon_building"></i>
                    </div>
                    <h5>Transportation support</h5>
                    <p>Quis ipsum suspendisse ultrices, risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                </div>
            </div>

            <!-- Single choose us content -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-choose-us-content wow fadeInUp" data-wow-delay="200ms">
                    <!-- Choose us Icon -->
                    <div class="choose-us-icon">
                        <i class="icon_creditcard"></i>
                    </div>
                    <h5>Save Your Money</h5>
                    <p>Quis ipsum suspendisse ultrices, risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- **** Choose Us Area End **** -->

<!-- **** Categories By Property Area Start **** -->
<section class="rehomes-categories-property-area section-padding-100-70">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="200ms">
                    <h2>Categories By <span>Property</span></h2>
                    <p>We have over 8 years of experience and knowledge on how to sell more.</p>
                </div>
            </div>

            <!-- Single Categories and Property Content -->
            <div class="col-12 col-md-8">
                <div class="single-categories-property-area bg-gradient-overlay wow fadeInUp" data-wow-delay="200ms">
                    <!-- Property Thumb -->
                    <div class="property-thumb">
                        <a href="#"><img src="{% static 'web/img/bg-img/3.jpg' %}" alt=""></a>
                    </div>
                    <!-- Title -->
                    <a class="categories-title" href="#">25 Properties</a>
                    <!-- Property Name and Price -->
                    <div class="property-name-price-text">
                        <a href="#">Villa In Newyork</a>
                        <p>From $28000</p>
                    </div>
                </div>
            </div>

            <!-- Single Categories and Property Content -->
            <div class="col-12 col-md-4">
                <div class="single-categories-property-area bg-gradient-overlay wow fadeInUp" data-wow-delay="200ms">
                    <!-- Property Thumb -->
                    <div class="property-thumb">
                        <a href="#"><img src="{% static 'web/img/bg-img/3.jpg' %}" alt=""></a>
                    </div>
                    <!-- Title -->
                    <a class="categories-title" href="#">25 Properties</a>
                    <!-- Property Name and Price -->
                    <div class="property-name-price-text">
                        <a href="#">Home In LA</a>
                        <p>From $10000</p>
                    </div>
                </div>
            </div>

            <!-- Single Categories and Property Content -->
            <div class="col-12 col-md-4">
                <div class="single-categories-property-area bg-gradient-overlay wow fadeInUp" data-wow-delay="200ms">
                    <!-- Property Thumb -->
                    <div class="property-thumb">
                        <a href="#"><img src="{% static 'web/img/bg-img/3.jpg' %}" alt=""></a>
                    </div>
                    <!-- Title -->
                    <a class="categories-title" href="#">25 Properties</a>
                    <!-- Property Name and Price -->
                    <div class="property-name-price-text">
                        <a href="#">Home In Landport</a>
                        <p>From $16000</p>
                    </div>
                </div>
            </div>

            <!-- Single Categories and Property Content -->
            <div class="col-12 col-md-8">
                <div class="single-categories-property-area bg-gradient-overlay wow fadeInUp" data-wow-delay="200ms">
                    <!-- Property Thumb -->
                    <div class="property-thumb">
                        <a href="#"><img src="{% static 'web/img/bg-img/3.jpg' %}" alt=""></a>
                    </div>
                    <!-- Title -->
                    <a class="categories-title" href="#">25 Properties</a>
                    <!-- Property Name and Price -->
                    <div class="property-name-price-text">
                        <a href="#">Villa In Sysney</a>
                        <p>From $36000</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- **** Categories By Property Area End **** -->

<!-- **** Call to Action Area Start **** -->
<section class="rehome-call-to-action-area bg-overlay bg-img jarallax section-padding-100" style="background-image: url({% static 'web/img/bg-img/3.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7">
                <!-- Call to Action Content -->
                <div class="call-to-action-content wow fadeInUp" data-wow-delay="200ms">
                    <h2>Download app &amp; join now!</h2>
                    <p>Download and sign up to receive all the latest real estate news.</p>
                    <!-- Button -->
                    <div class="download-btn">
                        <a class="mr-2" href="#"><img src="{% static 'web/img/bg-img/3.jpg' %}" alt=""></a>
                        <a href="#"><img src="{% static 'web/img/bg-img/3.jpg' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- **** Call to Action Area End **** -->

<!-- **** Blog area Start **** -->
<section class="rehome-blog-area section-padding-100-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="200ms">
                    <h2>Latest <span>News</span></h2>
                    <p>Sign up for the latest real estate information and more.</p>
                </div>
            </div>

            <!-- Single blog content -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-post-area wow fadeInUp" data-wow-delay="200ms">
                    <!-- Post Thumb -->
                    <div class="post-thumb">
                        <img src="{% static 'web/img/bg-img/3.jpg' %}" alt="">
                    </div>
                    <a class="post-title" href="#">Benjamin Franklin S Method Of Habit Formation</a>
                    <!-- Post Meta -->
                    <div class="post-meta">
                        <a class="post-author" href="#">By Polly Williams</a>
                        <a class="post-date" href="#">Dec 19, 2018</a>
                        <a class="post-comment" href="#">3 Comment</a>
                    </div>
                </div>
            </div>

            <!-- Single blog content -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-post-area wow fadeInUp" data-wow-delay="200ms">
                    <!-- Post Thumb -->
                    <div class="post-thumb">
                        <img src="{% static 'web/img/bg-img/3.jpg' %}" alt="">
                    </div>
                    <a class="post-title" href="#">How To Set Intentions That Energize You</a>
                    <!-- Post Meta -->
                    <div class="post-meta">
                        <a class="post-author" href="#">By Mattie Ramirez </a>
                        <a class="post-date" href="#">Dec 19, 2018</a>
                        <a class="post-comment" href="#">3 Comment</a>
                    </div>
                </div>
            </div>

            <!-- Single blog content -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-post-area wow fadeInUp" data-wow-delay="200ms">
                    <!-- Post Thumb -->
                    <div class="post-thumb">
                        <img src="{% static 'web/img/bg-img/3.jpg' %}" alt="">
                    </div>
                    <a class="post-title" href="#">Burning Desire Golden Key Or Red Herring</a>
                    <!-- Post Meta -->
                    <div class="post-meta">
                        <a class="post-author" href="#">By Nicholas Brewer</a>
                        <a class="post-date" href="#">Dec 19, 2018</a>
                        <a class="post-comment" href="#">3 Comment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- **** Blog area End **** -->

<!-- **** Partner Area Start **** -->
<div class="partner-area wow fadeInUp" data-wow-delay="200ms">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="partner-logo-slide owl-carousel">
                    <!-- Single Partner Logo -->
                    <a href="#" class="partner-logo wow fadeInUp" data-wow-delay="100ms"><img src="{% static 'web/img/core-img/1.png' %}" alt=""></a>
                    <!-- Single Partner Logo -->
                    <a href="#" class="partner-logo wow fadeInUp" data-wow-delay="300ms"><img src="{% static 'web/img/core-img/1.png' %}" alt=""></a>
                    <!-- Single Partner Logo -->
                    <a href="#" class="partner-logo wow fadeInUp" data-wow-delay="500ms"><img src="{% static 'web/img/core-img/1.png' %}" alt=""></a>
                    <!-- Single Partner Logo -->
                    <a href="#" class="partner-logo wow fadeInUp" data-wow-delay="700ms"><img src="{% static 'web/img/core-img/1.png' %}" alt=""></a>
                    <!-- Single Partner Logo -->
                    <a href="#" class="partner-logo wow fadeInUp" data-wow-delay="900ms"><img src="{% static 'web/img/core-img/1.png' %}" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- **** Partner Area End **** -->
{% endblock %}
