{% extends 'web/base.html' %}
{% load static %}
{% block title %} FindBikeFriends Website{% endblock %}
{% block content %}
    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">FindBikeFriends </h1>
          <p class="lead text-muted">Bisiklet arkadaşınızı bulun.</p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
          {% for events in event %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="{{events.thumbnail}}" alt="">
                <div class="card-body">
                  <a href="#" class="card-text"> {{events.name}} </a>
                </div>
              </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>

    </main>
{% endblock %}

